// write style here in scss, main file.
body {
  height: 100svh;
  width: 100svw;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px black;
    font-weight: 700;
    font-size: 2rem;

  }

  & main {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100svw;
    justify-content: center;
    align-items: center;

    & form {

      & legend {
        text-decoration: 2px underline blue;
        font-size: 1.5rem;
        padding-bottom: 1.5rem;

      }

      & fieldset {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        border: none; ///

        & .formLine {
          display: flex;
          gap: 2rem;

          & .formItem {
            display: flex;
            flex-direction: column;
          }

          &.subBtn {
            display: flex;
            justify-content: center;
            padding: 1rem;

            & input.submitBtn {
              padding: .5rem;
              background-color: lightskyblue;
              border: none;
              border-radius: 5%;
              cursor: pointer;

              &:hover {
                opacity: 80%;

                &:active {
                  opacity: 1;

                }
              }
            }
          }
        }
      }
    }
  }
}